* {
    box-sizing: border-box;
}

html {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;

    @include mobile {
        font-size: 12px;
    }

    @include narrow {
        font-size: 14px;
    }
    @include normal {
        font-size: 16px;
    }

    // @include wide {
    //     font-size: 18px;
    // }
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-family: Raleway;
}

h3 {
    color: $grey-4;
}

// h1 {
//     font-size: rem(60px);
//     margin-bottom: rem(20px);
// }

p {
    color: $grey-3;
    margin: 0 0 rem(18px);
    max-width: 80ch;
}

ul {
    margin: 0;
    // list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: rem(18px);
    font-family: Raleway, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
}

.main-title {
    color: $grey-3;
    font-family: Playfair;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}

.title {
    font-size: 2.5rem;
    color: $grey-3;
    font-family: Playfair;
    text-align: center;

    @include normal {
        text-align: left;
    }
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: rem(100px);
    justify-content: center;
    background-image: url("../../Images/bg-ss-1.png");
    width: 100%;
    margin-top: 10vh;
    padding-top: 20px;

    a {
        text-decoration: underline;
    }
    // background-position: center;
}

// section {
//     transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
// }

// a[id="home"]:target ~ #home {
//     transform: translate3d(0, 0, 0);
// }

// a[id="about"]:target ~ #about {
//     transform: translate3d(0, -100%, 0);
// }
// a[id="about"]:target ~ #about {
//     transform: translate3d(0, -200%, 0);
// }
