.action-btn {
    display: flex;
    color: white;

    a {
        font-size: rem(18px);
        font-weight: 500;
    }

    background-color: #fc3549;
    height: 50px;
    box-shadow: 0px 9px 29px rgba(252, 53, 73, 0.22);
    border-radius: 30px;
    padding: 0px 10px 0 10px;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        color: #fc3549;
        text-decoration: none;
        background-color: white;
    }
}

.download-btn {
    a {
        color: white;

        &:hover {
            color: #fc3549;
            text-decoration: none;
        }
    }
}

// .download-btn::before {
//     content: "↓";
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 20px;
//     height: 20px;
//     color: #fc3549;
//     background-color: white;
//     border-radius: 50px;
//     font-weight: 500;
//     margin-right: 5px;
// }
