@font-face {
    font-family: Playfair;
    src: url(../../fonts/playfair/PlayfairDisplay.ttf);
}
@font-face {
    font-family: PlayfairItalic;
    src: url(../../fonts/playfair/PlayfairDisplay-Italic.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../../fonts/raleway/Raleway-Regular.ttf);
}
